<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="./css/Login.css">
    <style>
        .btn-home {
            padding: 5px 10px;
            background-color: #A67B5B;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 10px;
        }
        .btn-home a {
            color: #fff;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div>
    <button class="btn-home">
        <a href="/Home">Back</a>
    </button>
</div>
<form class="form_main" id="loginForm">

    <span class="heading">Đăng Nhập</span><br/>

    <div class="inputcontainer">
        <label style="width: 140px;" for="username">Tên tài khoản: </label>
        <input style="font-size: 15px" class="inputfield" id="username" name="username" required/><br/>
    </div>

    <div style="margin-top: 7px" class="inputcontainer">
        <label style="width: 100px;" for="password">Mật khẩu: </label>
        <input type="password" style="margin-left: 25px;" class="inputfield" id="password" name="password" required/><br/>
    </div>

    <button type="button" class="button" onclick="loginUser()">Đăng nhập</button>

    <div class="Register-account">
        Bạn chưa có tài khoản?
        <a href="/RegisterAccount">Đăng kí tài khoản</a>
    </div>
</form>

<script>
    async function loginUser() {
        const formData = {
            username: document.getElementById('username').value,
            password: document.getElementById('password').value
        };

        try {
            const response = await fetch('/Login/api', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            });

            if (response.ok) {
                console.log('Đăng nhập thành công');
                window.location.href = '/Homee';
            } else {
                alert('Tên đăng nhập hoặc mật khẩu không đúng.');
            }
        } catch (error) {
            console.error('Error:', error);
            alert('Đăng nhập thất bại!');
        }
    }
</script>

</body>
</html>




